/* variable */
:root {
  --main-color: #10cab7;
  --padding-section: 20px;
}
/* global rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*  End of global rules */
/* start component */
.special-heading {
  text-align: center;
  color: #7777;
  font-size: 70px;
  text-transform: capitalize;
}
.services .container {
  position: relative;
}
.p-text {
  text-align: center;
  letter-spacing: -2px;
  margin-top: -65px;
  color: #3a3737;
  font-size: 20px;
}
/* end services */

/* start header  */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .logo {
  width: 50px;
}
.header .container .links {
  position: relative;
}
.header .links .icon {
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  margin-bottom: 5px;
  /* different */
  margin-top: 20px;
}
.header .links .icon span {
  background-color: rgb(121, 121, 121);
  height: 3px;
  margin-bottom: 5px;
  border-radius: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links:hover span:nth-child(2) {
  width: 100%;
}
.header .container .links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 200px;
  top: 110%;
  border-radius: 5px;
  z-index: 10;
  display: none;
}
.header .container .links ul::before {
  content: " ";
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  position: absolute;
  border-width: 10px;
  right: 3px;
  top: -20px;
}
.header .container .links ul li {
  padding: 15px;
}
.header .container .links ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #333;
  letter-spacing: 1.2px;
  font-weight: 600;
  transition: 0.3s;
}
.header .container .links ul li a:hover {
  padding-left: 10px;
}
.header .container .links ul li:not(:last-child) {
  border-bottom: 2px solid rgb(240, 236, 236);
}
.header .container .links:hover ul {
  display: block;
}
/* end of header */
/* start landing */
.landing {
  background-image: url(../img/pexels-pixabay-417173.jpg);
  background-size: cover;
  height: calc(100vh - 70px);
  position: relative;
}
.intro-text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -160%);
}
.intro-text h1 {
  text-transform: capitalize;
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  color: var(--main-color);
}
.intro-text p {
  font-weight: 600;
  font-size: 15px;
  width: 320px;
  text-align: center;
  color: white;
}
/* end of landing */
/* start features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-content: center;
}
.features .container .feat {
  text-align: center;
  padding: 10px;
}
.features .container i {
  font-size: 50px;
  color: var(--main-color);
  padding-bottom: 20px;
}
.features .container .feat h3 {
  padding-bottom: 10px;
}
.features .container .feat p {
  letter-spacing: -1px;
  line-height: 1.8;
  color: #777;
}
/* end  of features */
/* start services */
.serv-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.col .serv {
  display: flex;
  align-items: center;
}
.col .serv i {
  color: var(--main-color);
  font-size: 39px;
  margin: 20px;
}
.col .text-content {
  text-align: center;
}
.col img {
  height: 90%;
  width: 90%;
  padding: 5%;
}
.col .serv h3 {
  margin: 20px;
  font-size: 20px;
  letter-spacing: 1px;
}
.col .serv p {
  letter-spacing: -1px;
  line-height: 1.2;
  color: #777;
}
@media (max-width: 772px) {
  .col .serv {
    flex-direction: column;
  }
}
/* start portfolio */
.portfolio {
  background-color: #f6f6f6;
  padding: 30px;
}
.portfolio .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.portfolio .cards img {
  height: 350px;
  width: 100%;
}
.portfolio .cards .card {
  text-align: center;
  background-color: #fff;

  border-radius: 15px;
}
.portfolio .cards .card h3 {
  margin: 20px;
  font-size: 20px;
  letter-spacing: 1px;
}
.portfolio .cards .card p {
  letter-spacing: -1px;
  line-height: 1.2;
  color: #777;
  padding-bottom: 20px;
}
.btu-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btu {
  border-radius: 15px;
}
.btu h2 {
  color: var(--main-color);
  font-size: 25px;
  padding: 10px;
  letter-spacing: -1px;
  transition: 0.5s;
}
.btu h2:hover {
  letter-spacing: 0px;
  background-color: #fff;
}
/* end portfolio */
/* start about */
.about .container .image {
  position: relative;
  max-height: 300px;
  max-width: 440px;
  margin: 30px;
}
.about .container .image::before {
  content: "";
  position: absolute;
  height: 120%;
  top: -23px;
  left: -24px;
  z-index: -1;
  width: 114px;
  background-color: rgb(167, 166, 166);
}
.about .container .image::after {
  content: "";
  position: absolute;
  height: 102%;
  top: -60px;
  right: -98px;
  z-index: -1;
  border-bottom: 62px var(--main-color) solid;
  border-left: 80px var(--main-color) solid;
  width: 78px;
}

.about .container .image img {
  max-width: 100%;
}
.about .container .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.about .container .about-content {
  flex: 1;
  padding-left: 20px;
}
@media (max-width: 991px) {
  .about .container .image::after,
  .about .container .image::before {
    display: none;
  }
  .about .container .content {
    flex-direction: column;
  }
  .about .container .about-content {
    width: 100%;
  }
}
.about .container .about-content p:first-child {
  max-width: fit-content;
  line-height: 20px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.about .container .about-content p:last-child {
  margin: 20px 0px;
  font-weight: 500;
  font-size: 15px;
  color: #777;
  max-width: 500px;
}
.about .container .about-content hr {
  width: 70%;
  border: none;
  height: 2px;
  background-color: var(--main-color);
  border-radius: 20px;
  margin: auto;
}

/* end about */
